.rootLayout{
    padding:16px 64px;
    display:flex;
    flex-direction: column;
    height:100vh;
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo{
            display:flex;
            align-items: center;
            gap:10px;
            font-weight: bold;
            img{
                height:32px;
                width:32px;
            }
        }
        .user{
            button{
                border-radius: 10px;
                height:40px;
                width:80px;
                padding:5px;
                font-size: 16px;
                background: linear-gradient(to right, rgb(107, 101, 107),rgb(232, 226, 227));
                font-weight: bold;
                color:black;
                cursor:pointer;
                border:1px solid white;
                &:hover{
                   background: linear-gradient(to right, rgb(232, 226, 227),rgb(132, 126, 132));
                }
            }
             .logout-button{
                    font-size: 26px;
            }

        }
    }
    main{
        flex:1;
        overflow:hidden;
    }
}